html,
body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  height: 100%;
  color: whitesmoke;
  background-color: #333;
  background: linear-gradient(217deg, #111, #333);
  background-color: #333;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

hr {
  height: 0.1rem;
  background: linear-gradient(60deg, var(--primary), var(--secondary));
  width: 3rem;
  border: none;
}

strong,
em,
.highlight {
  color: deepskyblue;
  background-image: linear-gradient(60deg, var(--primary), var(--secondary));
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

p {
  letter-spacing: 0.1rem;
  text-align: justify;
}

.column {
  flex-direction: column;
}

.fullscreen {
  height: 100%;
}

.gap {
  gap: 3rem;
}

.padding {
  padding: 1rem;
}

:root {
  --primary: deepskyblue;
  --secondary: lime;
  --content-bg: rgba(0, 0, 0, 0.6);
}

.bubble {
  position: relative;
  background: var(--content-bg);
  color: #ffffff;
  max-width: 50rem;
  border-radius: 10px;
  padding: 2rem;
}

.bubble:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent var(--content-bg) transparent transparent;
  top: 50%;
  left: -20px;
  margin-top: -15.5px;
}

.picture-border-wrap {
  padding: 0.3rem;
  position: relative;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  border-radius: 50%;
}

.picture {
  background: #222;
  background-image: url("assets/img/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 8rem;
  border-radius: 50%;
  opacity: 0.9;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 80px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
  color: var(--content-bg);
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0;
  }
}

#iconbar {
  gap: 1rem;
}

.icon {
  height: 2rem;
  filter: grayscale(100%);
  opacity: 0.6;
}

.icon:hover {
  transition: 0.5s ease;
  opacity: 1;
  filter: none;
}

.grid {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: var(--content-bg);
  flex: 0 0 auto;
  width: 20rem;
  border-radius: 10px;
  overflow: hidden;
}

.card .screenshot {
  width: 100%;
}

.screenshot:hover {
  transition: 0.5s ease;
  filter: grayscale(100%);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.legend {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

/* .highlight-animation {
  --bg-size: 400%;
  --color-one: deepskyblue;
  --color-two: lime;
  font-family: sans-serif;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.5));
}

@media (prefers-reduced-motion: no-preference) {
  .highlight-animation {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
} */
