html, body {
	margin:0;
	padding: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

a {
	text-decoration: none;
	color: #3a7bd5;
}

a:hover {
	text-decoration: none;
	color: white;
}

h3 a {
	color: rgba(255,255,255,0.7);
}

h3 a:hover {
	color: rgba(255,255,255,1);
}

footer {
	padding: 1rem 5rem;
}

.gradient {
	background: #00d2ff;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fullscreen {
	height: 100%;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.container {
	padding: 5rem;
}

.title {
	font-size: 10rem;
	margin: 0;
}

.subline {
	color: rgba(255,255,255,0.7);
}

.line {
	height: 0.2rem;
	width: 5rem;
	border: 0;
	margin: -1rem;
}

.right {
	right: 5rem;
}

.icon {
	max-height: 3rem;
	margin-right: 1.5rem;
    margin-top: 1.5rem;
}

.mountain-wrapper {
	position: absolute;
	bottom: 0;
}

.mountain {
	width: 0;
	height: 0;
	border-style: solid;
}

#mount1 {
	border-width: 0 15rem 23rem 12rem;
	border-color: transparent transparent rgba(255,255,255,1) transparent;
}
#mount2 {
	border-width: 0 20rem 17rem 15rem;
	border-color: transparent transparent rgba(255,255,255,0.8) transparent;
}
#mount3 {
	border-width: 0 5rem 5rem 10rem;
	border-color: transparent transparent rgba(255,255,255,0.7) transparent;
}
#mount4 {
	border-width: 0 8rem 7rem 4rem;
	border-color: transparent transparent rgba(255,255,255,1) transparent;
}

.card-grid {
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;
	flex-wrap: wrap;
}

.card {
	background-color: rgba(0,0,0,0.2);
	padding: 1rem;
	width: 15rem;
}

.card:hover {
	/* background-color: transparent; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card h4 {
	margin: 0;
}

.card .icon {
	max-height: 1.5rem;
}

/* colors */

.white-txt {
	color: white;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
}

.gray {
	background-color: #333;
}

.blue {
	background-color: #3a7bd5;
}

@media only screen and (max-width: 600px) {
	.container {
		padding: 1rem;
	}

	.title {
		font-size: 5rem;
	}

	.right {
		right: 1rem;
	}

	#mount1 {
		border-width: 0 7rem 8rem 4rem;
		border-color: transparent transparent rgba(255,255,255,1) transparent;
	}
	#mount2 {
		border-width: 0 10rem 5rem 5rem;
		border-color: transparent transparent rgba(255,255,255,0.8) transparent;
	}
	#mount3 {
		border-width: 0 3rem 2rem 1rem;
		border-color: transparent transparent rgba(255,255,255,0.7) transparent;
	}
	#mount4 {
		border-width: 0 2rem 3rem 4rem;
		border-color: transparent transparent rgba(255,255,255,1) transparent;
	}
}

/* Hover.css Underline From Left */
.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
  }
  .hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: white;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
  }